.arena___root {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('../../resources/arena.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.arena___battlefield {
  /* display: inline-block;
  display: flex;
  justify-content: space-around; */
  margin-bottom: 60px;
  position: relative;
  top: 28%;
  height: 100%;
}

.arena___right-fighter > img {
  transform: scaleX(-1);
  transition: all 0.5s;
}

.arena___left-fighter > img {
  transition: all 0.5s;
}

.arena___left-fighter {
  display: inline-block;
  left: 0;
  margin-left: 4%;
  transition: all 0.5s;
  position: absolute;
  bottom: 550px;
}

.arena___right-fighter {
  display: inline-block;
  right: 0;
  margin-right: 4%;
  transition: all 0.5s;
  position: absolute;
  bottom: 550px;
}

.arena___fighter > img {
  height: 430px;
}

.arena___fight-status {
  display: flex;
  margin: 30px;
  justify-content: center;
}

.arena___fighter-name {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 26px;
  font-family: Arial, sans-serif;
  font-weight: 700;
}

.arena___fighter-indicator {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 30px;
}

.arena___health-indicator {
  width: 100%;
  height: 25px;
  border: 2px solid;
  border-radius: 5px;
  margin: 0 10px;
  overflow: hidden;
  position: relative;
}

.arena___health-bar-left {
  height: 100%;
  width: 100%;
  background-color: greenyellow;
  float: left;
}

.arena___health-bar-right {
  height: 100%;
  width: 100%;
  background-color: greenyellow;
  float: right;
}

.arena___critical-indicator {
  width: 100%;
  height: 25px;
  border: 2px solid;
  border-radius: 5px;
  margin: 2px 10px 0;
  overflow: hidden;
}

.arena___critical-bar-left {
  height: 100%;
  width: 100%;
  background-color: rgb(254, 0, 216);
  float: left;
}

.arena___critical-bar-right {
  height: 100%;
  width: 100%;
  background-color: rgb(254, 0, 216);
  float: right;
}

.arena___critical-hit-left {
  margin-top: 10px;
  height: 250px;
  position: absolute;
  left: 60px;
  display: none;
  z-index: 9;
}

.arena___critical-hit-right {
  margin-top: 10px;
  height: 250px;
  transform: scaleX(-1);
  position: absolute;
  right: 60px;
  display: none;
  z-index: 10;
}

.arena___hit-left {
  margin-top: 25px;
  height: 200px;
  position: absolute;
  left: 60px;
  display: none;
  z-index: 8;
}

.arena___hit-right {
  margin-top: 25px;
  height: 200px;
  position: absolute;
  right: 60px;
  display: none;
  z-index: 7;
}

.arena___block-left {
  margin-top: 575px;
  height: 150px;
  position: absolute;
  left: 140px;
  display: none;
}

.arena___block-right {
  margin-top: 575px;
  height: 150px;
  position: absolute;
  right: 140px;
  display: none;
}
